#top
{
  text-align: center;
  font-size: 40px;
  background-color: transparent;
  color: white;
}

#search_text
{

  background-color: transparent;
  font-size: 25px;
  color: white

}

#search
{
  font-size: 30px;
}

#search_button
{
  height: 40px;
  width: 200px;
  font-size: 25px;
}

#week
{
    height: 45px;
    width: 150px;
    font-size: 25px;
}

#month
{
  height: 45px;
  width: 150px;
  font-size: 25px;
}

#year
{
    height: 45px;
    width: 150px;
    font-size: 25px;
}

#years
{
  height: 45px;
  width: 150px;
  font-size: 25px;
}

#company
{

font-size: 30px;

}

#plot
{

  border: transparent;

}
